/* Assumption: thinnest width to consider for responsive design: 320px */

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  height: auto;
  box-shadow: 0px 10px 10px gray;
}

main {
  height: 75vh;
  overflow: auto;
  padding: 10px 0 10px 0;
}

footer {
  box-shadow: 0px -10px 10px gray;
  background-color: #282c34;
  margin: auto 0 0 0;
  color: white;
  display: flex;
  justify-content: flex-end;
  padding: 0 20px 5px 0;
}

.header-search-sort {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.search-btn-container {
  display: contents;
}

.search-btn {
  appearance: base-select;
  border: 2px solid darkgray;
  border-radius: 20px;
  background-color: rgb(249, 243, 235);
  color: black;
  width: 6vw;
  padding: 8px 5px 8px 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 0 0 10px;
}

.search-btn:focus,
.search-btn:hover {
  background-color: rgb(238, 228, 215);
  border: 2px solid gray;
}

.sort-options,
.search-bar {
  appearance: base-select;
  border: 2px solid darkgray;
  border-radius: 5px;
  background-color: rgb(249, 243, 235);
  color: black;
  width: 20vw;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
}

.sort-options:focus,
.search-bar:focus {
  outline: none;
  border: 2px solid gray;
}

.search-bar {
  cursor: text;
  font-size: 16px;
  outline: none;
  height: 20px;
}

.movie-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.movie-card {
  width: 18vw;
  height: 37vh;
  background-color: rgb(235, 240, 249);
  border: 2px solid #282c34;
  margin-bottom: 10px;
  border-radius: 20px;
  transition: box-shadow 0.3s ease-in-out, scale 0.3s ease-in-out;
  box-shadow: 0 0 0 darkgray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.movie-card:hover,
.movie-card:focus {
  cursor: pointer;
  background-color: rgb(207, 217, 237);
  box-shadow: 10px 10px 20px gray;
  scale: 1.04;
}

.movie-card-poster {
  margin: 5px 0 5px 0;
  height: 70%;
  width: auto;
  max-width: 90%;
  border-radius: 10px;
}

.movie-card-title {
  margin: 0;
  font-size: 22px;
}

.movie-card-rating {
  margin-top: 10px;
  font-size: 18px;
}

.load-more-btn {
  width: 110px;
  height: 50px;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }
}

@media (max-width: 1200px) and (min-width: 800px) {
  .sort-options,
  .search-bar {
    width: 30vw;
  }

  .search-btn {
    width: 8vw;
  }
}

@media (max-width: 799px) and (min-width: 500px) {
  .sort-options,
  .search-bar {
    font-size: 12px;
  }

  .search-bar {
    width: 25vw;
  }

  .sort-options {
    width: 35vw;
  }

  .search-btn {
    width: 8vw;
    font-size: 10px;
  }
}

@media (max-width: 499px) {
  .sort-options,
  .search-bar {
    font-size: 12px;
  }

  form {
    display: flex;
    align-items: center;
  }

  .search-btn-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-right: 10px;
  }

  .search-bar {
    width: 25vw;
  }

  .sort-options {
    width: 35vw;
  }

  .search-btn {
    width: 50px;
    font-size: 8px;
  }
}
