/* Assumption: thinnest width to consider for responsive design: 320px */

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  height: auto;
  box-shadow: 0px 10px 10px gray;
}

main {
  height: 75vh;
  overflow: auto;
}

footer {
  box-shadow: 0px -10px 10px gray;
  background-color: #282c34;
  margin: auto 0 0 0;
  color: white;
  display: flex;
  justify-content: flex-end;
  padding: 0 20px 5px 0;
}

.title {
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
}

.header-search-sort {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 5vh;
}

.sidebar-icon {
  position: absolute;
  left: 1vw;
  font-size: 35px;
  background-color: rgb(154, 154, 154, 0.2);
  padding: 10px;
  border: 1px solid darkgray;
  border-radius: 50%;
  cursor: pointer;
}

.sidebar-icon:hover,
.sidebar-icon:focus {
  background-color: rgb(154, 154, 154, 0.4);
}

.search-btn-container {
  display: contents;
}

.search-btn {
  appearance: base-select;
  border: 2px solid darkgray;
  border-radius: 20px;
  background-color: rgb(249, 243, 235);
  color: black;
  width: 6vw;
  padding: 8px 5px 8px 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 0 0 10px;
}

.search-btn:focus,
.search-btn:hover {
  background-color: rgb(238, 228, 215);
  border: 2px solid gray;
}

.sort-options,
.search-bar {
  appearance: base-select;
  border: 2px solid darkgray;
  border-radius: 5px;
  background-color: rgb(249, 243, 235);
  color: black;
  width: 20vw;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
}

.sort-options:focus,
.search-bar:focus {
  outline: none;
  border: 2px solid gray;
}

.search-bar {
  cursor: text;
  font-size: 16px;
  outline: none;
  height: 20px;
}

/* Darken to ensure meets contrast best practices */
.search-bar::placeholder {
  color: #4a4a4a;
}

.sidebar-container {
  width: 20vw;
  height: 75vh;
  background-color: #5c6370;
  position: absolute;
  border-radius: 0 10px 10px 0;
  transition: left 0.5s ease;
  z-index: 1;
}

.sidebar-options {
  list-style-type: none;
  padding: 0;
}

.sidebar-option {
  padding: 10px 0 10px 0;
  margin: 30px 0 30px 0;
  font-size: 18px;
  color: white;
  cursor: pointer;
  transition: scale 0.3s ease;
}

.sidebar-option:hover,
.current-page {
  color: rgb(196, 196, 196);
  scale: 1.2;
}

.movie-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px;
}

.movie-card {
  width: 18vw;
  height: 37vh;
  background-color: rgb(235, 240, 249);
  border: 2px solid #282c34;
  margin-bottom: 10px;
  border-radius: 20px;
  transition: box-shadow 0.3s ease-in-out, scale 0.3s ease-in-out;
  box-shadow: 0 0 0 darkgray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.movie-card:hover,
.movie-card:focus {
  cursor: pointer;
  background-color: rgb(207, 217, 237);
  box-shadow: 10px 10px 20px gray;
  scale: 1.04;
}

.movie-card:active {
  scale: 1;
}

.movie-card-poster {
  margin: 5px 0 5px 0;
  max-height: 70%;
  max-width: 90%;
  border-radius: 10px;
}

.movie-card-title {
  margin: 0;
  font-size: 20px;
  padding: 0 10px 0px 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.rating-fav-watch-container {
  margin: auto 0 10px 0;
  display: flex;
  gap: 10px;
}

.movie-card-rating {
  margin: auto 0 3px 0;
  font-size: 16px;
}

.favorite.material-symbols-outlined {
  color: red;
  font-variation-settings: "FILL" 100;
}

.heart.material-symbols-outlined:hover {
  color: lightcoral;
  font-variation-settings: "FILL" 100;
}

.eye.material-symbols-outlined:hover {
  color: #78bff9;
  font-variation-settings: "FILL" 100;
}

.watched.material-symbols-outlined {
  color: #2196f3;
  font-variation-settings: "FILL" 100;
}

.load-more-btn {
  width: 110px;
  height: 50px;
  margin: 10px 0 20px 0;
}

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
  background-color: rgb(0, 0, 0, 0.5);
}

.modal {
  background-color: #f4f4f4;
  border: 2px solid darkgray;
  border-radius: 15px;
  z-index: 2;
  width: 50vw;
  height: 70vh;
  overflow: auto;
  box-shadow: 40px 40px 30px black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.modal-exit {
  position: absolute;
  margin: 20px;
  padding: 10px;
  background-color: #f4f4f4;
  border: 1px solid lightgray;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 5px 5px 20px black;
}

.modal-exit:hover {
  background-color: #d7d7d7;
  border: 1px solid gray;
}

.modal-backdrop,
.modal-poster {
  margin-bottom: 10px;
  height: auto;
  width: 100%;
  border-radius: 10px;
}

.modal-poster {
  width: 40%;
}

.modal-summary {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  text-align: left;
}

.modal-overview {
  font-weight: normal;
}

.modal-trailer {
  margin-bottom: 15px;
  border-radius: 15px;
  border: 2px solid lightgrey;
}

@media (max-width: 1200px) {
  .movie-card-title {
    font-size: 18px;
  }

  .movie-card-rating {
    font-size: 14px;
  }
}

@media (max-width: 975px) and (min-width: 650px) {
  .movie-card {
    width: 30vw;
  }
}

@media (max-width: 649px) and (min-width: 450px) {
  .movie-card {
    width: 40vw;
  }
}

@media (max-width: 449px) {
  .movie-card {
    width: 80vw;
  }
}

@media (max-width: 1200px) and (min-width: 800px) {
  .sort-options,
  .search-bar {
    width: 30vw;
  }

  .search-btn {
    width: 8vw;
  }

  .sidebar-icon {
    font-size: 25px;
  }
}

@media (max-width: 799px) and (min-width: 500px) {
  .sort-options,
  .search-bar {
    font-size: 12px;
  }

  .sidebar-icon {
    font-size: 20px;
    margin-left: 1vw;
  }

  .search-bar {
    width: 20vw;
    margin-left: 5vw;
  }

  .sort-options {
    width: 35vw;
  }

  .search-btn {
    width: 8vw;
    font-size: 10px;
  }
}

@media (max-width: 499px) {
  .sort-options,
  .search-bar {
    font-size: 10px;
  }

  form {
    display: flex;
    align-items: center;
  }

  .search-btn-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-right: 10px;
  }

  .search-bar {
    width: 20vw;
    margin-left: 5vw;
  }

  .sidebar-icon {
    font-size: 15px;
    margin-left: 1vw;
  }

  .sort-options {
    width: 35vw;
  }

  .search-btn {
    width: 50px;
    font-size: 8px;
  }

  .sidebar-option {
    font-size: 14px;
  }
}

@media (max-width: 499px) {
  .sidebar-icon {
    font-size: 10px;
  }

  .search-bar {
    margin-left: 8vw;
  }
}
